[submodule "bitacoras/bit11"]
	path = bitacoras/bit11
	url = https://github.com/GatoRodriguez/TACO122-037-Bitacora-GatoRodriguez
[submodule "bitacoras/bit101"]
	path = bitacoras/bit101
	url = https://github.com/tarmiii/TACO122-137-BITACORA-TARMIII
[submodule "bitacoras/bit01"]
	path = bitacoras/bit01
	url = https://github.com/MasaMasita/Taller-Electr-nica-Digital
[submodule "bitacoras/bit02"]
	path = bitacoras/bit02
	url = https://github.com/Martobrave/taco122-037-bitacora-martobrave
[submodule "bitacoras/bit05"]
	path = bitacoras/bit05
	url = https://github.com/404-gabi/taco122-037-bitacora-404-gabi
[submodule "bitacoras/bit102"]
	path = bitacoras/bit102
	url = https://github.com/volodoro/Bitacora-TACO122
[submodule "bitacoras/bit03"]
	path = bitacoras/bit03
	url = https://github.com/koydfripp/-TACO122-037-bitacora-koydfripp-
[submodule "bitacoras/bit06"]
	path = bitacoras/bit06
	url = https://github.com/emilianojc/bit-cora-Emiliano-
[submodule "bitacoras/bit103"]
	path = bitacoras/bit103
	url = https://github.com/sagiris2003/taco122-037-bitacora-sagiris2003
[submodule "bitacoras/bit09"]
	path = bitacoras/bit09
	url = https://github.com/Markoook/taco122-037-bitacora-mark
[submodule "bitacoras/bit12"]
	path = bitacoras/bit12
	url = https://github.com/gemagarate/taco122-037-bitacora-gemagarate
[submodule "bitacoras/bit04"]
	path = bitacoras/bit04
	url = https://github.com/cukis666/cukis
[submodule "bitacoras/bit07"]
	path = bitacoras/bit07
	url = https://github.com/Criis70/Proyecto-obra-trabajo-del-semestre.-Video-electr-nica-.-
